.border-bottom.mb-5.bg-dark.d-flex.py-3.text-center
  .ml-3
    = icon('fas', 'angle-double-left', class: 'icon text-white')
    =link_to "トップページ", "/",class:"py-2 rounded my-auto text-white"
  .ml-3
    = render partial:"shared/menu"
.container.my-5.border.p-0
  .h4.text-center 部品補充
  .card.container.py-3
    .d-flex.border-bottom.mb-3.pl-5.pb-3
      .parts-name.mr-3
        = @part.name
      .quentity
        在庫数
        = @part.quentity
        個
    %ul
    = form_for @part do |f|
      %li.d-flex.border-bottom.mb-3.pb-3
        %p.ml-5{:style => "width: 10%;"} 数量
        -# = f.label :replenishment, "数"
        = f.number_field :replenishment, step: 5, value: 0,class: 'form-control mb-3 ml-3'
      = f.submit 'Send', class: 'd-block btn-primary p-2 ml-auto mt-5'